/* здесь используйте глобальные переменные */
/* брейкпоинты */
$tablet-width: 768px;
$desktop-width: 1440px;

/* переменные шрифтов */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

/* переменные цветов */
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #68b738;
$quaternary-color: #f2f2f2;

