/* здесь используйте глобальные переменные */
/* брейкпоинты */
$tablet-width: 768px;
$desktop-width: 1440px;

/* переменные шрифтов */
$primary-font: "Lato", sans-serif;
$secondary-font: "Oswald", sans-serif;

/* переменные цветов */
$primary-color: #ffffff;
$secondary-color: #000000;
$tertiary-color: #68b738;
$quaternary-color: #f2f2f2;
$quinary-color: #444444;
$senary-color: #c4c4c4;
$septenary-color: #111111;
$octonary-color: #222222;


$font-size-default: 14px;
$line-height-default: 18px;
$font-size-tablet: 16px;
$line-height-tablet: 24px;
