.card-index {
  background-color: $quaternary-color;
  padding: 21px 33px 18px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 47px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.card-index__title {
  @include title;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  order: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  margin-bottom: 22px;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    order: 1;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    order: 2;
    margin-bottom: 39px;
  }
}

.card-index__title::before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  order: 1;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    order: 1;
    margin-right: 62px;
  }
}

.card-index__title--slim::before {
  display: block;
  content: "";
  border-radius: 50%;
  background-color: $tertiary-color;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../icons/stack.svg#cat_slim");
}

.card-index__title--pro::before {
  display: block;
  content: "";
  border-radius: 50%;
  background-color: $tertiary-color;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../icons/stack.svg#cat_pro"),;
}


.card-index__description {
  @include font-default;
  order: 3;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-tablet;
    line-height: $line-height-tablet;
    order: 2;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin-bottom: 23px;
  }
}

.card-index__description::after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.card-index__link {
  @include title;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  order: 4;
  display: flex;
  flex-flow: row wrap;
  align-items: center;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    order: 3;
  }

  @media (min-width: $desktop-width) {
    order: 4;
  }
}


.card-index__link::after {
  display: block;
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../../icons/stack.svg#icon_arrow");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
}

.card-index__link:hover {
  opacity: 30%;
}
