.card-index {
  background-color: $background-color-primary;
  padding: 24px 20px 18px;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 77px 63px 53px 53px;
    grid-template-columns: 1fr 200px;
    gap: 0 53px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    grid-template-columns: 100px 1fr;
    padding: 45px 52px 55px;
    gap: 0 62px;
  }
}

.card-index::before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $secondary-color;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    order: 2;
    margin-left: auto;
    grid-column: 2/3;
    grid-row: 1/5;
    margin-top: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    margin-right: 62px;
    z-index: 1;
    grid-column: 1/2;
    margin-bottom: 39px;
    margin-top: 0;
  }
}

.card-index--slim::after {
  display: block;
  content: "";
  width: 36px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../icons/stack.svg#cat-slim");
  z-index: 2;
  position: absolute;
  top: 21px;
  left: 27px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    left: auto;
    right: 93px;
    top: 81px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    left: 67px;
    top: 41px;
  }
}

.card-index--pro::after {
  display: block;
  content: "";
  width: 67px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../icons/stack.svg#cat-pro"),;
  z-index: 2;
  position: absolute;
  top: 35px;
  left: 12px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
  }
}

.card-index__title {
  @include title;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 25px;


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    height: 100px;
    margin-bottom: 0;
  }
}

.card-index__description {
  @include font-default;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  grid-column: 1/-1;
  width: 100%;
  color: $font-color-primary;

  @media (min-width: $tablet-width) {
    @include font-tablet;
    margin-bottom: 48px;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
    grid-column: 1/-1;
  }
}

.card-index__description::after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 21px;
  grid-column: 1/-1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.card-index__link {
  @include title;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 4px 0;
  grid-column: 1/-1;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    grid-column: 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
  }
}


.card-index__link::after {
  display: block;
  content: "";
  width: 24px;
  height: 12px;
  background-image: url("../../icons/stack.svg#icon-arrow");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-left: 15px;
}

.card-index__link:hover::after,
.card-index__link:focus::after {
  width: 32px;
}

.card-index__link:active {
  opacity: 30%;
}
