.catalog-more {
  background-color: $primary-color;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 10;

  @media (min-width: $tablet-width) {
    border: 2px solid $background-color-primary;
    padding: 0 36px 39px;
  }
}

.catalog-more .catalog-item__title {
  width: auto;
  margin: 0 auto 8px;
  text-align: center;
  color: $logo-color;

  @media (min-width: $tablet-width) {
    margin: 0 40px;
    margin-bottom: 23px;
    max-width: 134px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-bottom: 26px;
  }
}

.catalog-more .catalog-item__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 4px auto 23px;
  background-image: url("../../icons/stack.svg#icon-plus");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 50px auto;
  }

  @media (min-width: $desktop-width) {
    margin: 48px auto 40px;
  }
}

.catalog-more__description {
  margin: 0 auto 21px;
  color: $font-color-primary;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin: 0 40px auto;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 auto;
  }
}

.catalog-more__button {
  @include button-link;
  color: $font-color-primary;
  background-color: $background-color-primary;

  &:hover,
  &:focus,
  &:active {
    background-color: #ebebeb;
    color: $font-color-primary;
  }
}
