.contacts {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.contacts__map {
  height: 362px;
  order: 2;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__container {
  background-color: $primary-color;
  padding: 26px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 78px 59px 80px;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    width: 565px;
  }
}

.page--catalog .contacts__container {
  @media (max-width: calc($desktop-width - 1px)) {
    background-color: $background-color-primary;
  }
}


.contacts__title {
  @include title;
  color: $logo-color;
  font-size: 16px;
  line-height: 20px;
  max-width: 163px;
  flex-basis: 50%;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 91px;
  }
}

.contacts__address {
  font-family: $primary-font;
  font-style: normal;
  color: $font-color-primary;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  flex-basis: 50%;
  max-width: 163px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    justify-content: space-between;
    align-self: stretch;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}
