.footer {
  background-color: $background-color-primary;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.footer__container > *:not(:first-child) {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  box-sizing: border-box;
  mask-image: url("../../images/logo-text-mobile.svg");
  mask-size: 100%;
  background-color: $logo-color;
  mask-repeat: no-repeat;
  mask-position: center;
  flex-shrink: 0;
  padding: 0;
  margin: 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.footer__logo:hover,
.footer__logo:focus {
  background-color: #3e3e3e;
}

.footer__logo:active {
  background-color: #6b6b6b;
}

.footer__social-list {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__copyright {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 0;

  @media (min-width: $tablet-width) {
    width: 168px;
    flex-shrink: 0;
    padding: 0;
  }
}
