.logo-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

.logo-container__toggle {
  width: 33px;
  height: 38px;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../../icons/stack.svg#icon_hamburger");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
