.navigation__list {
  background-color: $primary-color;
  width: 100%;
  list-style: none;
  flex-direction: column;
  margin: 0;
  margin-left: -20px;
  padding: 0;
  position: absolute;
  display: flex;
  z-index: 3;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 35px;
    background-color: transparent;
    position: relative;
    margin-left: 0;
    margin-right: 4px;
    margin-top: 1px;
  }

  @media (min-width: $desktop-width) {
    gap: 34px;
    margin-right: 0;
  }
}

.navigation__list--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.navigation__item {
  border-top: 1px solid $border-color-light;

  @media (min-width: $tablet-width) {
    border-top: 0;
  }
}

.navigation__item:last-child {
  border-bottom: 1px solid $border-color-light;

  @media (min-width: $tablet-width) {
    border-bottom: 0;
  }
}


.navigation__item a {
  @include title;
  display: block;
  box-sizing: border-box;
  padding: 22px 50px 24px;
  text-align: center;
  margin: 0;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.page--index .navigation__item a {
  @media (min-width: $desktop-width) {
    color: $primary-color;
  }
}

.navigation__item--active {
  @media (min-width: $tablet-width) {
    text-decoration: underline;
    text-decoration-color: $secondary-color;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    text-underline-offset: 8px;
  }
}

.page--index .navigation__item--active {
  @media (min-width: $desktop-width) {
    text-decoration-color: $primary-color;
  }
}
