.preferences {
  max-width: $desktop-width;
  margin: 0 20px 20px;

  @media (min-width: $tablet-width) {
    margin: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 71px;
  }
}

.preferences__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
    margin: 0 110px;
  }
}
