.promo {
  margin: 0;
  padding: 0;
  background-color: $tertiary-color;
  background:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 63%, $primary-color 63%, $primary-color 66%),
    url("../../images/index-background-mobile.jpg") center/cover;
  background-repeat: no-repeat;
  background-size: 110% auto;
  background-position: top;
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    background: none;
    background-color: $primary-color;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 100%;
    background:
      linear-gradient(to right, $primary-color 50%, rgba(104, 183, 56, 0.85) 50%, rgba(104, 183, 56, 0.85) 100%),
      url("../../images/index-background-desktop@1x.jpg") center/contain;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 82px;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    max-width: $desktop-width;
    max-height: 694px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 110px 52px;
  }
}


.promo__title {
  color: $primary-color;
  padding: 0;
  margin: 27px 0 25px;
  order: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: $secondary-color;
    max-width: 416px;
    text-align: left;
    margin: 65px auto 40px 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 224px auto 40px 80px;
  }
}

.promo__description {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $primary-color;
  text-transform: uppercase;
  order: 2;
  text-align: center;
  padding: 0;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $secondary-color;
    text-align: left;
    margin: 0 auto 50px 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 52px 80px;
  }
}

.promo__button-link {
  order: 4;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 14px 26px;
    order: 3;
    max-width: fit-content;
    margin: 0 auto 0 90px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto 40px 80px;
    padding: 14px 26px;
  }
}

.promo__image {
  order: 3;
  margin: 0 auto;
  padding: 0;
  width: 280px;
  height: 270px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    order: 4;
    position: relative;
    top: -83px;
    margin-bottom: 0;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin-top: 143px;
    top: 0;
    left: -180px;
  }
}
