.section-title {
  font-family: $secondary-font;
  font-weight: 400;

  &--sm {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }

  &--m {
    font-size: 36px;
    line-height: 40px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &--l {
    font-size: 36px;
    line-height: 36px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
    }

    @media (min-width: $desktop-width) {
      font-size: 60px;
      line-height: 60px;
    }
  }
}
