.social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #666666;
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: $secondary-color;
}

.social-list__link:active {
  background-color: $secondary-color;
  opacity: 30%;
}

.social-list__link--yt {
  mask-image: url("../../icons/stack.svg#logo-yt");
  mask-size: 24px auto;
}

.social-list__link--tg {
  mask-image: url("../../icons/stack.svg#logo-tg");
  mask-size: auto 17px;
}

.social-list__link--vk {
  mask-image: url("../../icons/stack.svg#logo-vk");
  mask-size: auto 17px;
}
